/* Branding*/
header #branding {
	float: left;
	margin: 20px 0 0 50px;
	font-size: 2em;
	transition: all 1s;
	transition-timing-function: ease-out;
}
	#sitenav {
		float: right;
		margin: 35px 150px 0 0;
		overflow: hidden;
		transition: all 1s;
		transition-timing-function: ease-out;
		font-size: 1.5em;
		transition: all 1s;
		transition-timing-function: ease-out;
	}
	.navli {
		float: left;
		display: inline;
		margin: 0 20px 0 20px; 
}
	.nav_link {
		color: #ffffff;
		text-decoration: none;

}
	#nav_link:hover {
	color: #A5B6CA;
	font-weight: bold;
}
	.highlight, #current .nav_link {
	color: #2B4A6F;
	font-weight: bold;
}