* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}



#body {
	font: 15px/1.5 Areal, Halvetica, sans-serif;
	background-color: #f4f4f4;
	
}
#header {
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom; #e8491d 5px solid;
}
header #branding {
	float: left;
}
#sitenav {
	float: right;
}
header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
.nav_link {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
.highlight, .current .nav_link {
	color: #e8491d;
	font-weight: bold;
}
#nav_link:hover {
	color: #cccccc;
	font-weight: bold;
}
	
	





